.button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  color: var(--text-primary);
  background-color: var(--brand);
  border: none;
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--brand-hover);
}

.button:disabled {
  background-color: var(--brand-disabled);
  cursor: not-allowed;
}

.tagline {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  color: white;
}

.sitename {
  background-image: url(./stickypopcorn.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  display: flex;
}

.titlelink a {
  text-decoration: none;
}

.custom-multi-select .select__multi-value__label {
  color: white;
}

.custom-multi-select .select__multi-value__remove {
  color: white;
}